// Color Variables - with meningful names
$white: #FFF;
$light-grey: #999;
$grey: #666;
$dark-grey: #333;
$black: #000;

// Color Configs
$cta: $light-grey;
$text: $black;
$border: $dark-grey;
$background: $white;
